<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>saml2-centralized-sp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestLogin</servlet-name>
    <servlet-class>it.unicam.cs.sp.servlet.test.TestLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestLogout</servlet-name>
    <servlet-class>it.unicam.cs.sp.servlet.test.TestLogout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestProtected</servlet-name>
    <servlet-class>it.unicam.cs.sp.servlet.test.TestProtected</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>METADATA</servlet-name>
    <servlet-class>it.unicam.cs.sp.servlet.METADATA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WAYF</servlet-name>
    <servlet-class>it.unicam.cs.sp.servlet.WAYF</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PRODUCER</servlet-name>
    <servlet-class>it.unicam.cs.sp.servlet.PRODUCER</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CONSUMER</servlet-name>
    <servlet-class>it.unicam.cs.sp.servlet.CONSUMER</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LOGOUT</servlet-name>
    <servlet-class>it.unicam.cs.sp.servlet.LOGOUT</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PoA</servlet-name>
    <servlet-class>it.unicam.cs.sp.servlet.PoA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AGGREGATOR</servlet-name>
    <servlet-class>it.unicam.cs.sp.servlet.AGGREGATOR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestLogin</servlet-name>
    <url-pattern>/TestLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestLogout</servlet-name>
    <url-pattern>/TestLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestProtected</servlet-name>
    <url-pattern>/TestProtected</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>METADATA</servlet-name>
    <url-pattern>/METADATA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WAYF</servlet-name>
    <url-pattern>/WAYF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PRODUCER</servlet-name>
    <url-pattern>/PRODUCER</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CONSUMER</servlet-name>
    <url-pattern>/CONSUMER</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LOGOUT</servlet-name>
    <url-pattern>/LOGOUT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PoA</servlet-name>
    <url-pattern>/PoA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AGGREGATOR</servlet-name>
    <url-pattern>/AGGREGATOR</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>configFile</param-name>
    <param-value>D:\LAVORO\PROGETTI\saml2-centralized-sp\config\config.xml</param-value>
  </context-param>
</web-app>